@import "./colors.scss";
@import "./overrides.scss";

.report-type {
  width: 20%;
}

.app-search {
  display: none !important;
}

.loan-list-table {
  tfoot {
    th {
   
      background-color: lighten(#efefef, 4%);
    }
  }
}

.ratings-list-table {
  thead {
    th {
      border: none;
      padding: 8px;
    }
  }
  tbody {
    td {
      padding: 8px;
      vertical-align: top !important;

      .form-group {
        margin-bottom: 0;
      }
    }
  }
}