


.topnav {
  background: $darkBlue;
}

a {
  color: $darkBlue;

  &:hover {
    color: darken($darkBlue, 50%);
  }
}

.btn-primary,
.btn-success {
  background-color: $darkBlue;
  border-color: $darkBlue;
  box-shadow: none;

  &:hover {
    background-color: darken($darkBlue, 5%);
    border-color: darken($darkBlue, 5%);
  }

  &:disabled {
    background-color: lighten($darkBlue, 5%);
    border-color: lighten($darkBlue, 5%);

    .spinner-border.text-primary {
      color: #fff !important;
    }
  }
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: darken($darkBlue, 5%);
  border-color: darken($darkBlue, 5%);
}

.btn-secondary {
  box-shadow: none;
}

.bg-primary {
  background-color: $darkBlue !important;
}

.page-title-box .page-title {
  font-size: 20px;
}

.page-item.active .page-link {
  background-color: $darkBlue;
  border-color: $darkBlue;
}

.spinner-border.text-primary {
  color: $darkBlue !important;
}

.react-datepicker-wrapper {
  width: 95.5%;
}

@media (min-width: 992px) {
  body[data-layout="topnav"] .container-fluid, body[data-layout="topnav"] .container-sm, body[data-layout="topnav"] .container-md, body[data-layout="topnav"] .container-lg, body[data-layout="topnav"] .container-xl {
    max-width: 95%;
  }
}