


.topnav {
  background: $darkBlue;
}

a {
  color: $darkBlue;

  &:hover {
    color: darken($darkBlue, 50%);
  }
}

.btn-primary,
.btn-success {
  background-color: $darkBlue;
  border-color: $darkBlue;
  box-shadow: none;
}

.bg-primary {
  background-color: $darkBlue !important;
}





.page-item.active .page-link {
  background-color: $darkBlue;
  border-color: $darkBlue;
}